{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
{% if page.image %}
  {% if page.image.path %}
    {% assign og_image_src = page.image.path %}
  {% else %}
    {% assign og_image_src = page.image %}
  {% endif %}
  <meta name="twitter:image" content="{{ og_image_src | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
{% endif %}
